* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: var(--white);
}

:root {
    --black: #030637;
    --white: #EEEEEE;
    --white-90: #EEEEEE90;
    --white-glass: #EEEEEE40;
    --grey: #AAAAAA;
    --grey-glass: #AAAAAA40;
    --purple: #720455;
    --purple-glass: #72045540;
    --lightPurple: #910A67;
    --lightPurple-glass: #910A6740;
    --darkPurple: #3C0753;
}

.text-shadow {
    text-shadow: 1px 1px var(--black);
}

.background {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: var(--black);
}

.background_blur {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(128px);
    background-color: var(--darkPurple);
}

main {
    display: flex;
    flex-direction: row;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    min-width: 256px;
    min-height: 100vh;
    border-right: 4px solid var(--white-90);
}

.group_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-glass);
    cursor: pointer;
}

.group_title:hover {
    background-color: var(--purple-glass);
}

.group_title h2 {
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: normal;
}

.group_title button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 1.4rem;
    padding: 12px 12px;
    cursor: pointer;
}

.group_title button:hover {
    background-color: var(--white-glass);
}

.group-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.group-container button {
    background: none;
    border: none;
    padding: 8px 4px;
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
}

.group-container button:hover {
    background-color: var(--grey-glass);
}

.todo-container {
    flex: 3;
}